<template>
    <div>
        <a v-if="canAccept" title="Mark answer as best answer" :class="classes"
           @click.prevent="create">
            <i class="fas fa-check fa-2x"></i>
        </a>
    </div>
</template>

<script>
    export default {
        props: ['answer'],
        data() {
            return {
                isBest: this.answer.is_best,
                id: this.answer.id
            }
        },
        methods: {
            create () {
                axios.post(`/answers/${this.id}/accept`)
                    .then(res=> {
                        this.$toast.success(res.data.message, "Success", {
                            timeout: 3000,
                            positoin: "left"
                        });
                        this.isBest = true;
                    })
            }
        },
        computed: {
            canAccept() {
                return this.authorize('accept', this.answer);
            },

            accepted() {
                return this.canAccept && this.isBest
            },

            classes() {
                return [
                    'mt-2',
                    this.accepted ? 'vote-accepted' : 'w'
                ];
            }
        },
    }
</script>